@model IEnumerable<ClienteAPI.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Facturas</h2>

<p>
    @Html.ActionLink("Agregar Factura", "Create")
</p>
<table class="customTable">
    <tr>
        <th>
           ID Factura
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            ID Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFactura}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFactura })
        </td>
    </tr>
}

</table>
